asgiref
cffi
cryptography
Django
django-extensions
django-filter
django-markdown-deux
django-rest-knox
djangorestframework
drf-extensions
drf-proxy-pagination
gunicorn==20.1.0
importlib-metadata
Markdown
markdown2
numpy
opencv-python
Pillow
pycparser
pytz
six
sqlparse
typing-extensions
zipp
